<!DOCTYPE html>
<html>
  <head>
    <title>Birdspeak</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="tr bg-green list pa2">
    <%= render 'layouts/nav_menu' %>
  </nav>

  <body class="bg-light-green navy">
    <div class="tr pa2">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <main class='pa3 w-100'>
      <%= yield %>
    </main>
  </body>
</html>
